<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="../public/jquery.js"></script>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="../public/controlerNewsfeed.js"></script>
    <script>
      $(document).ready(function () {
        // alert("hello jquery");
      });
    </script>
  </head>
  <body>
    test
  </body>
</html>
